<div class="payment-option opc-payment-additional newsletter last">
    <form class="form newsletter-subscription-form">
        <div class="payment-option-inner">
            <input type="checkbox"
                   data-bind="attr: { 'id': getCheckboxId($element), 'name': getCheckboxName($element) }"/>
            <label data-bind="attr: {'for': getCheckboxId($element)}">
                <span data-bind="i18n: 'Yes, I would like to receive regular news and offers.'"></span>
            </label>
        </div>
    </form>
</div>