<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Staempfli_CheckoutNewsletterSubscription" setup_version="1.0.0" >
        <sequence>
            <module name="Magento_Checkout"/>
            <module name="Magento_Webapi"/>
            <module name="Magento_Newsletter"/>
            <module name="Magento_Quote"/>
        </sequence>
    </module>
</config>